body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
.pointer {
  cursor: pointer;
}
button,
.button {
  background: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
  background-color: #2980b9;
}

button.green {
  background: #2ecc71;
}
