.variables {
  #variables-header {
    padding: 10px 15px;
    button {
      width: 100%;
    }
  }
  #generated-content {
    h3 {
      text-align: center;
      margin: 0;
    }
  }
  #variables-content,
  #generated-content {
    padding: 10px 15px;

    .settings-open .variable {
      border-bottom: 2px solid white;
    }
    .VariableWrapper {
      .settings {
        animation: settingsSlide 0.4s ease-in-out;
        height: auto;
        background: #fbfbfb;
        border: 1px solid #dedede;
        border-top: none;
        overflow: hidden;
        padding: 10px 15px 15px;

        .array-value {
          display: flex;
          align-items: center;
          input {
            margin: 5px 0 !important;
          }
          img {
            height: 16px;
            width: 16px;
            margin-left: 5px;
            opacity: 0.5;
          }
          img:hover {
            opacity: 0.8;
          }
        }

        .add-array-value {
          text-align: center;
          img {
            max-width: 20px;
          }
        }
      }
      .variable {
        box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-between;
        margin: 5px 0 0;
        background: white;
        border: 1px solid #dedede;
        padding: 10px;
        align-items: center;
        .delete-variable {
          opacity: 0.5;
        }
        .delete-variable:hover {
          opacity: 0.8;
        }
        .variable-meta {
          display: flex;
          align-items: center;
          .file-name {
            padding: 0 10px;
            h4 {
              margin: 0;
              text-transform: capitalize;
              font-size: 18px;
              small {
                font-weight: 400;
                font-size: 14px;
                font-style: italic;
              }
            }
            span {
              font-size: 15px;
            }
          }
        }
        .file-type {
          max-height: 50px;
          img {
            max-height: 50px;
            max-width: 50px;
          }
        }
      }
      .variable:hover {
        background: #fcfcfc;
        cursor: pointer;
        box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgb(50, 152, 219);
      }
    }
  }
}
