.action {
  margin: 0 auto 10px;
  border-radius: 5px;
  max-width: 400px;
  border: 1px solid #ccc;

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background: white;
    font-size: 18px;
    padding: 10px 15px;

    .name {
      font-size: 16px;
    }
    .delete-command {
      opacity: 0.5;
    }
    .delete-command:hover {
      opacity: 0.8;
    }
  }
}

.settings {
  animation: settingsSlide 0.4s ease-in-out;
  height: auto;
  background: #eee;
  padding: 10px 15px 15px;
}
.settings * {
  animation: fadeIn 0.25s ease-in;
}
.settings label {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.settings {
  .dynamic-fill {
    display: flex;
    align-items: center;

    .dynamic-fill-trigger {
      position: relative;
      cursor: pointer;

      .Options::-webkit-scrollbar {
        width: 5px;
      }
      .Options::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      .Options::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #27ae60;
      }

      .Options {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        background: white;
        width: 200px;
        top: 0;
        z-index: 1;
        display: block;
        overflow-y: auto;
        list-style: none;
        padding-inline-start: 0;
        position: absolute;
        right: 0;
        max-height: 100px;
        border-radius: 3px;
        li {
          padding: 5px;
          text-align: center;
          border-bottom: 1px solid #ddd;
        }
        li:last-of-type {
          border: none;
        }
      }
    }
    input {
      width: 100%;
      border: 1px solid #ddd;
      font-size: 16px;
      padding: 10px;
      box-sizing: border-box;
      margin: 5px 0;
    }
    img {
      margin-left: 5px;
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }
    img:hover {
      opacity: 0.8;
    }
  }
}
.settings .field-error {
  font-size: 14px;
  color: #c0392b;
  font-style: italic;
}
.not-saved {
  position: relative;
}
.not-saved:hover::after {
  position: absolute;
  z-index: 99999;
  border-radius: 2px;
  left: 50%;
  top: -5px;
  transform: translate(-50%, -100%);
  padding: 1px 3px;
  font-size: 13px;
  white-space: nowrap;
  width: auto;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  content: "Block Not Saved";
}

.save-link {
  padding: 4px 10px;
  background: #3298db;
  margin: 0 auto;
  border-radius: 2px;
  font-size: 14px;
  display: inline-block;
  margin-top: 5px;
  color: #ffffff;
}
.save-link:hover {
  background: #2980b9;
}
