.action {
  margin: 0 auto 10px;
  border-radius: 5px;
  max-width: 400px;
  border: 1px solid #ccc;
}
.action > .controls {
  display: inline-block;
  font-size: 18px;
  padding: 10px 15px;
}
.action:hover {
  cursor: pointer;
}
.action .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions .controls > .name {
  font-size: 16px;
}
.actions .controls .delete-command {
  opacity: 0.5;
}

.actions .controls .delete-command:hover {
  opacity: 0.8;
}

.settings {
  animation: settingsSlide 0.4s ease-in-out;
  height: auto;
  background: #eee;
  overflow: hidden;
  padding: 10px 15px 15px;
}
.settings * {
  animation: fadeIn 0.25s ease-in;
}
.settings label {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.settings input {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.settings .field-error {
  font-size: 14px;
  color: #c0392b;
  font-style: italic;
}
.not-saved {
  position: relative;
}
.not-saved:hover::after {
  position: absolute;
  z-index: 99999;
  border-radius: 2px;
  left: 50%;
  top: -5px;
  transform: translate(-50%, -100%);
  padding: 1px 3px;
  font-size: 13px;
  white-space: nowrap;
  width: auto;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  content: "Block Not Saved";
}

.save-link {
  padding: 4px 10px;
  background: #3298db;
  margin: 0 auto;
  border-radius: 2px;
  font-size: 14px;
  display: inline-block;
  margin-top: 5px;
  color: #ffffff;
}
.save-link:hover {
  background: #2980b9;
}
