.actions {
  #action-controls {
    padding: 10px 15px;
    background: #ecf0f1;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit-script-name {
      margin-left: 10px;
      opacity: 0.5;
    }
    .edit-script-name:hover {
      opacity: 0.8;
    }

    .change-name-form {
      display: flex;

      input[type="text"] {
        display: block;
        margin: 0 0;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        border: 1px solid #caced2;
      }
      input[type="text"]:focus,
      input[type="text"]:active {
        outline: none;
        border: 1px solid #caced2;
      }
      input[type="text"]::placeholder {
        opacity: 0.35;
      }
      input[type="submit"] {
        padding: 8px 24px;
        border-radius: 4px;
        margin-left: 4px;
        font-size: 15px;
      }
    }

    h3 {
      margin: 0;
      text-transform: capitalize;
    }
    button {
      margin: 0 5px;
    }
  }
  .actions-scrollable {
    height: calc(100vh - 133px);
    padding: 15px;
    overflow: auto;

    .actions-list {
      width: 400px;
      margin: 0 auto;

      > div {
        margin-bottom: 10px;
      }
    }
    #add-action {
      text-align: center;
      height: 35px;
      width: 35px;
      margin: 0 auto;
      img {
        opacity: 0.7;
      }
    }
    #add-action:hover img {
      opacity: 1;
      cursor: pointer;
    }
  }
}
