.list {
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  background-image: url(../..//assets//imgs/pexels-burst-374052.jpg);
}
.list {
  .options {
    background: white;
    z-index: 1;
  }

  .options {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 55vw;
    border-radius: 10px 10px 0 0;
    height: calc(100vh - 280px);
    padding: 40px;
    left: 50%;
  }

  #search-options {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 30px;
  }
  #search-options button {
    background: #ff4757;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Spartan";
    padding: 11px 15px 8px;
    cursor: pointer;
  }

  /*  */
  .custom-select {
    position: relative;
    font-family: "Spartan";
    font-weight: 400;
    margin: 0 5px !important;
    width: 250px !important;
  }
  #search-results {
    overflow-y: auto;
    height: calc(100% - 30px);
  }
  #search-results::-webkit-scrollbar {
    width: 5px;
  }
  #search-results::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
  }
  #search-results::-webkit-scrollbar-thumb {
    background: #ff4757;
    border-radius: 10px;
  }
  #search-results::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  #search-results .result {
    padding: 15px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #search-results .result:hover {
    background: white;
  }
  #search-results .result h3 {
    font-family: "Spartan";
    font-weight: bold;
    color: #333;
    letter-spacing: -1px;
    margin: 0 !important;
    font-size: 22px;
  }
  #search-results .result .address {
    font-family: "Spartan";
    font-size: 14px;
  }

  #search-results .result .links img {
    text-align: center;
    max-height: 40px;
    margin: 0 auto;
    display: block;
  }
  #search-results .result .links {
    display: flex;
    justify-content: flex-end;
  }
  #search-results .result .links > a {
    padding: 5px;
    cursor: pointer;
  }

  #search-results .result .links .link-text {
    padding-top: 5px;
    display: block;
    font-size: 14px;
  }

  #search-results .result .restaurant-categories {
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
  }
}
